.p1 {
    text-align: center;
}

.p2 {
    text-indent: 5rem;
}

.p3 {
    line-height: 50px;
}

.p4 {
    vertical-align: middle;
}

.p5 {
    word-spacing: 2em;
}

.pr6 {
    letter-spacing: 2em;
}

.p7 {
    white-space: pre-line;
}

.p8 {
    tab-size: 60px;
}

.p9 {
    text-transform: capitalize;
}

.p10 {
    unicode-bidi: bidi-override;
    direction: rtl;
}

#p11 {
    text-decoration: underline;
}

#p12::first-letter {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    padding: 1px 16px;
    color: rgb(250, 211, 152);
    background: url(img/v-banner.webp);
    background-size: cover;
    text-shadow: -2px 2px black;
}

#p12::first-line {
    color: rgb(250, 211, 152);
    background: brown;
}

#p13 {
    quotes: '\00AB' '\00BB';
}

#p14 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#p15 {
    font-style: italic;
}

#p16 {
    font-variant: small-caps;
}

#p17 {
    font-weight: bold;
}

#p18 {
    font-size: 120%;
}

#p19 {
    color: rgba(169, 12, 20, 0.671);
}

#p20 {
    font: oblique bold 24px/1.5 Times, 'New Century Schoolbook', serif;
}

#p21 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    background: black;
    color: blanchedalmond;
    text-shadow: -1px 1px white;
    padding: 5px;
    border-radius: 3px;
}