* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Основной цвет */

body {
    background-color: lightskyblue;
}

/* Навигация */

.nav-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    background-color: azure;
}

li a {
    text-decoration: none;
    color: black;
}

/* Основной контент + flex */

h1, h2 {
    text-align: center;
    text-decoration-line: underline;
}

.content {
    display: flex;
}

.content main {
    flex: 9;
}

.content aside {
    flex: 1;
}

aside h4 {
    text-align: center;
}

aside {
    background-color: azure;
    border-left: 3px dotted black;
}

footer {
    background-color: azure;
}

/* Секции */

.main-section {
    border-bottom: 3px dotted black;
}

.article-news {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 150px;
    padding: 10px;
    margin: 0 auto;
}

.article-text {
    word-break: break-all;
}