@font-face {
    src: url(fonts/Italian\ Old\ Antiqua.ttf);
    font-family: "Italian Old Antiqua";
    src: url(fonts/Italian\ Old\ Antiqua\ Italic.ttf);
    font-family: "Old Aniqua italic";
    src: url(fonts/ofont.ru_Gravity.ttf);
    font-family: "Gravity";
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Gravity";
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    width: 80%;
}

ul li {
    list-style-type: none;
}

ul li a {
    display: inline-block;
    text-decoration: none;
    color: white;
}

img {
    display: inline-block;
    width: 1rem;
    height: 1rem;
}

.logo {
    background: url(images/logo.png), no-repeat;
    background-size: cover;
    background-position: center;
    width: 20rem;
    height: 1rem;
    margin: 20px;
}

header {
    background: url(images/header-img.png);
    background-size: cover;
    width: 100%;
    height: 30rem;

    display: flex;
    justify-content: space-between;
}

.headline {
    width: 80%;
    height: 10rem;
    display: flex;
    justify-content: space-between;
    margin-left: 40%;
}

.menu-2 {
    margin-left: 150%;
}

.menu-1, .menu-2 {
    padding: 1.25rem;

}

.headline-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 5%;

    width: 100%;
}

.headline-2 h1 {
    margin-right: 175%;
}

.headline-2 button {
    width: 50%;

    margin-right: 199%;
    padding: 1rem 0.5rem;

    font-family: "Gravity";
    text-transform: uppercase;
    color: black;
}

h1, h2 {
    font-family: "Italian Old Antiqua";
    font-size: 3rem;
    text-transform: uppercase;
}

h1 {
    color: white;
}

.block-1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 2%;
}

.block-1 article {
    width: 50%;
    margin-top: 2%;
}

.cover-1, .cover-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 3%;
}

.cover-1 button, .cover-2 button {
    padding: 1rem 0.5rem;
    text-transform: uppercase;
}

.cover-1 {
    background: url(images/women-section.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 40rem;
}

.cover-2 {
    background: url(images/men-section.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 40rem;
}

.block-2 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 1%;
    margin-top: 2%;
}

.block-2 article {
    width: 33.33%;
}

h3 {
    width: 100%;
    font-family: "Gravity";
    text-transform: uppercase;
    margin-top: 2%;
}

.prod {
    width: 100%;
    height: 40rem;
}

.one {
    background: url(images/newarrival-items1.jpg);
    background-size: cover;
    background-position: center;
}

.two {
    background: url(images/newarrival-items2.jpg);
    background-size: cover;
    background-position: center;
}

.three {
    background: url(images/newarrival-items3.jpg);
    background-size: cover;
    background-position: center;
}

.block-3 {
    display: flex;
    gap: 1%;
}

.block-3 p {
    text-align: center;
    margin: 20% 0;
}

.block-3 p + p {
    text-transform: uppercase;
}

.video {
    background: url(images/video.jpg);
    background-size: cover;
    width: 100%;
    height: 40rem;
    margin-top: 3%;
}

.headline-3 {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin: 3% 0;
}

.block-4 {
    display: flex;
    gap: 1%;
}

.block-4 article {
    width: 33.33%;
}

.new {
    width: 100%;
    height: 40rem;
}

.cloth-1 {
    background: url(images/article1.jpg);
    background-size: cover;
    background-position: center;
}

.cloth-2 {
    background: url(images/article2.jpg);
    background-size: cover;
    background-position: center;
}

.cloth-3 {
    background: url(images/article3.jpg);
    background-size: cover;
    background-position: center;
}

div + p {
    margin-top: 2%;
}

.block-5 article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10% 0;
}

.block-5 h1 {
    flex: 1;
    color: darkgrey;
    font-size: 8rem;
}

footer {
    background: #000;
}